<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.xxon.om.gbw.invres.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="XXONGbwIrSearchAM"
      FullName="oracle.apps.xxon.om.gbw.invres.server.XXONGbwIrSearchAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXONGbwIrSearchVO"
      FullName="oracle.apps.xxon.om.gbw.invres.server.XXONGbwIrSearchVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXONGbwIrSerachValuesVO"
      FullName="oracle.apps.xxon.om.gbw.invres.server.XXONGbwIrSerachValuesVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
